<a href="https://colab.research.google.com/github/sgathai/dsc-data-serialization-lab/blob/master/2nd_lecture__Asiko_dspt_phase_0_Intro_to_Python2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Introduction to Python 2

**Overview of lecture**

1. Looping  
  i. For loops  
  ii. while loops  
  iii. Nested loops  
  iv. Break and continue  

2. Functions
3. User input and output

# Looping

Loops are used to repeatedly execute a block of code until a certain condition is met.

Python provides two types of loops: **for** loops and **while** loops.

## For loops

**for** loops iterate over a sequence (such as a list, tuple, or string) or any other iterable object.

In [ ]:
# Iterating over a list
fruits = ['apple', 'banana', 'cherry']
for fruit in fruits:
    print(fruit)

# Iterating over a string
string = "Hello"
for char in string:
    print(char)

# Iterating over a range of numbers
for num in range(1, 5):
    print(num)

apple
banana
cherry
H
e
l
l
o
1
2
3
4

In [ ]:
?range

In [ ]:
j=range(1,11)
for x in j:
  print(x)

1
2
3
4
5
6
7
8
9
10

### Exercise:

Using a for loop:

*   Print 1 to 10

## While loops

**while** loops execute a block of code as long as a certain condition is true.

In [ ]:
count = 0
while count < 5:
    print(count)
    count += 1 # EXTREMELY IMPORTANT

0
1
2
3
4

In [ ]:
count = 0
count < 5

True

In [ ]:
x = True
count = 0
while x:
  count += 1
  print('I am happy')
  if count == 5:
    x = False

I am happy
I am happy
I am happy
I am happy
I am happy

### Exercise:

Calculate the sum of all even numbers from 1 to 20 using a while loop.

In [ ]:
2+4+6+8+10+12+14+16+18+20

110

In [ ]:
total = 0
num = 2

while num <= 20:
    total += num
    num += 2

print(total)

110

In [ ]:
num = 1
total_sum = 0

while num <= 20:
    if num % 2 == 0:
        total_sum += num
    num += 1
print(total_sum)

110

In [ ]:
12 % 2

0

In [ ]:
count=0
sum = 0

while count<20:
  count +=1
  if count % 2 == 0:
    sum += count
print(sum)

110

## Nested Loops

Nested loops are loops within loops.
The inner loop is executed completely for each iteration of the outer loop.

In [ ]:
?range

In [ ]:
for i in range(1, 4): # Outer loop : for each student
    for j in range(1, 4): # Inner loop : give 3 biscuits
        print(i, j)

1 1
1 2
1 3
2 1
2 2
2 3
3 1
3 2
3 3

### Exercise:

Print a square of asterisks in a nested loop.

![link text]()

In [ ]:
outer loop - row
inner loop - column, esp print '*'

In [ ]:
for i in range(1,4):
  print(i, end = ' ')

1 2 3

In [ ]:
total = 0

while total <=5:
  number = 0
  while number <=5:
    print ("*" ,end = ' ')
    number += 1
  print()
  total += 1

* * * * * *
* * * * * *
* * * * * *
* * * * * *
* * * * * *
* * * * * *

In [ ]:
a=b=c=d=e=f="*"
for i in 6* a:
    for j in b:
        for k in c:
            for l in d:
                for m in e:
                    for n in f:
                        print(i,j,k,l,m,n)

* * * * * *
* * * * * *
* * * * * *
* * * * * *
* * * * * *
* * * * * *

In [ ]:
  for j in range(1,6): # correct
    print(i,j,end="*")

1 1*1 2*1 3*1 4*1 5*2 1*2 2*2 3*2 4*2 5*3 1*3 2*3 3*3 4*3 5*4 1*4 2*4 3*4 4*4 5*

In [ ]:
for i in range (1,7):
  for j in range (1,8):
    print ('*', end=' ')
  print()

* * * * * * *
* * * * * * *
* * * * * * *
* * * * * * *
* * * * * * *
* * * * * * *

In [ ]:
for i in range (1, 3):
  for j in range (1,4):
    print ('*','*','*','*')

* * * *
* * * *
* * * *
* * * *
* * * *
* * * *

In [ ]:
for x in range (1,7):
  for y in range(1,8):
    print( end = ' * ' )
  print('\n')

 *  *  *  *  *  *  *

 *  *  *  *  *  *  *

 *  *  *  *  *  *  *

 *  *  *  *  *  *  *

 *  *  *  *  *  *  *

 *  *  *  *  *  *  *

## Break and Continue

**Break** is used to exit a loop prematurely, while **continue** is used to skip the rest of the current iteration and move to the next one.

In [ ]:
# Break
print('Breaking')
for i in range(1, 6):
    if i == 3:
        break
    print(i)


# Continue
print('Continuing')
for i in range(1, 6):
    if i == 3:
        continue
    print(i)

Breaking
1
2
3
Continuing
1
2
4
5

### Exercise:

Print numbers from 1 to 10, but skip printing the number 7 using the continue statement.

# Function

Functions in Python are blocks of reusable code that perform a specific task. They allow you to break down complex programs into smaller, more manageable parts.

In [ ]:
# Example
def greet():
    print("Hello, welcome!")
    return 'DSFPT04'

greet()  # Output: Hello, welcome!

Hello, welcome!

In [ ]:
x = greet()

Hello, welcome!

In [ ]:
x

Functions can take parameters (inputs) and return a value (output).

In [ ]:
def square(x=2):
    return 5 ** x

result = square(5)
result2 = square(7)
print(result)  # Output: 25
print(result2)

3125
78125

In [ ]:
def sos():
  return square(n)

In [ ]:
r1 = sos(5)
r1

25

In [ ]:
r1

25

In [ ]:
?type

# User Input and Output

User input can be obtained using the input() function, while output can be displayed using the print() function.

In [ ]:
name = input("Enter your name: ")
print("Hello, " + name + "!")
n = name + 1

age = input("Enter your age: ")
print("You are " + age + " years old.")

Enter your name: ecv
Hello, ecv!
Enter your age: 39
You are 39 years old.

### Exercise:

Write a program that:
1. takes two numbers as input from the user and
2. performs addition, subtraction, multiplication, and division on them.   
3. Display the results.

# Example(putting all thing together):

Write a function named print_squared_divisible_by_n(numbers) that takes
1. Takes a user input of n
2. Creates a list of numbers that run from 1 to numbers.
3. The function should iterate over the numbers, square each number, and print the squared values that are divisible by n.

In [ ]:
ls = [i for i in range(1,11)]
ls

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
def print_squared_divisible_by_n(numbers):
  n = int(input('Enter a number: '))

  for i in range(1,numbers+1):
    sq = i ** 2
    if sq % n == 0:
      print(sq)

In [ ]:
print_squared_divisible_by_n(10)

Enter a number: 3
9
36
81