<a href="https://colab.research.google.com/github/sgathai/dsc-data-serialization-lab/blob/master/Asiki_dspt_phase_0_Intro_to_Python1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Introduction to Python 1

**Overview of lecture**

1. Basic operations
2. Datatypes
3. Lists
4. Dictionaries
5. Operators(more on basic operations)
6. Conditionals
    
Bonus: Errors and debugging

## What is Python?

Let's define **programming** first:  

*  This is a particular way for us humans to give instructions to a computer to interpret, to calculate and to present things.

**Python:**

*  Python is a high-level, interpreted, interactive, and object-oriented scripting language.

## Basic operations (Python as a calculator)

In [ ]:
2+3

5

In [ ]:
round(5/7,2)

0.71

In [ ]:
?print

In [ ]:
print(3+3)

6

In [ ]:
#@title
# Addition
print(2 + 2)  # Output: 4

# Subtraction
print(5 - 3)  # Output: 2

# Multiplication
print(3 * 3)  # Output: 9

# Division
print(10 / 2)  # Output: 5.0

4
2
9
5.0

In [ ]:
print(5)

5

## Datatypes



*   These are specific kinds of data in Python.

Python datatypes include: integer, float, complex, string, list, tuple, dictionary, and boolean

In [ ]:
#@title
# Integer
x = 10  # A variable is a store for values/datatypes
print(type(x))  # Output: <class 'int'>

# Float
y = 10.0
print(type(y))  # Output: <class 'float'>

# String
z = "Hello Python"
e = '2'
print(type(z))  # Output: <class 'str'>
print(type(e))  # Output: <class 'str'>

# Boolean
a = True
print(type(a))  # Output: <class 'bool'>

<class 'int'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'bool'>

In [ ]:
x_3 =5
print(x_3)

5

In [ ]:
x = 10
print(type(x),x)

y = '10'
print(type(y),y)

<class 'int'> 10
<class 'str'> 10

In [ ]:
print("My name is Lucy")

My name is Lucy

### Exercise:

Create a variable:

1.   Your year of birth as an integer
2.   Your year of birth as an string

## List (More complex datatypes)



*   A list in Python is a collection of items that are changeable(mutable). Lists allow duplicate members.

In [ ]:
#@title
# Creating a list
fruits = ['apple', 'banana', 'cherry']
print(fruits)  # Output: ['apple', 'banana', 'cherry']

funny_list = [1, 'banana', True, 1.2, ['f','g','h'],(2,3)]
print(funny_list)

# Accessing items in a list
print(fruits[0])  # Output: apple

# Modifying a list
fruits[1] = 'blueberry'
print(fruits)  # Output: ['apple', 'blueberry', 'cherry']

# Adding to a list
fruits.append('dragonfruit')
print(fruits)  # Output: ['apple', 'blueberry', 'cherry', 'dragonfruit']

['apple', 'banana', 'cherry']
[1, 'banana', True, 1.2, ['f', 'g', 'h'], (2, 3)]
apple
['apple', 'blueberry', 'cherry']
['apple', 'blueberry', 'cherry', 'dragonfruit']

In [ ]:
ls1=["Mombasa", ["Kitale", ("Eldoret", "Fill"),("Nakuru")]]
print(ls1[1])
ls1[1][1] = ('Machakos','Kisumu')
ls1[1].append(x)
print(ls1)

['Kitale', ('Eldoret', 'Fill'), 'Nakuru']
['Mombasa', ['Kitale', ('Machakos', 'Kisumu'), 'Nakuru'], 10]

In [ ]:
ls1.pop()

10

In [ ]:
ls1

['terminator', 'Mombasa', ['Kitale', ('Machakos', 'Kisumu'), 'Nakuru']]

### Exercise:

Create a list:

1. of your 5 favorite movies.
2. Then add another one to this list.

In [ ]:
ls1.insert(0, 'terminator')

In [ ]:
ls1.append('f')

['terminator', 'Mombasa', ['Kitale', ('Machakos', 'Kisumu'), 'Nakuru'], 10]

## Dictionaries

* A dictionary in Python is a collection of items with a key:value pair.

In [ ]:
#@title
# Creating a dictionary

l1 = []
# [] brackets are also used for accessing item in different datatype

person = {'name': 'John Doe','age': 30,'city': 'New York'}
print(person)  # Output: {'name': 'John Doe', 'age': 30, 'city': 'New York'}

# Accessing items in a dictionary
print(person['name'])  # Output: John Doe

# Modifying a dictionary
person['age'] = 31
print(person)  # Output: {'name': 'John Doe', 'age': 31, 'city': 'New York'}

# Adding to a dictionary
person['job'] = 'Engineer'
print(person)  # Output: {'name': 'John Doe', 'age': 31, 'city': 'New York', 'job': 'Engineer'}

{'name': 'John Doe', 'age': 30, 'city': 'New York'}
John Doe
{'name': 'John Doe', 'age': 31, 'city': 'New York'}
{'name': 'John Doe', 'age': 31, 'city': 'New York', 'job': 'Engineer'}

In [ ]:
d1 = {'name': 'Eva', 1: 'STM', 'age': 42}
print(d1)
print(d1[1])

{'name': 'Eva', 1: 'STM', 'age': 42}
STM

### Exercise:

Create a dictionary:

1.  that describes a book with attributes: title, author, year of publication, and genre.
2. Then add the number of pages to this dictionary.

In [ ]:
my_dict = {'a': 1, 'b': 2, 'c': 3}

In [ ]:
my_dict

{'b': 2, 'c': 3}

In [ ]:
# Deleting an item from a dictionary
my_dict = {'a': 1, 'b': 2, 'c': 3}
del my_dict['a']
print(my_dict)  # Output: {'b': 2, 'c': 3}

{'b': 2, 'c': 3}

In [ ]:
# or
my_dict = {'a': 1, 'b': 2, 'c': 3}
value = my_dict.pop('a')
my_dict['b'] = 20
my_dict['z'] = value
print(value)  # Output: 1
print(my_dict)  # Output: {'b': 2, 'c': 3}

1
{'b': 20, 'c': 3, 'z': 1}

In [ ]:
d2 = {'x': 1}
my_dict.update(d2)
print(my_dict)

{'b': 20, 'c': 3, 'z': 1, 'x': 1}

## Operators

* These are used to perform operations on variables and values

In [ ]:
# Arithmetic operators
print(5 + 2)  # Addition
print(5 - 2)  # Subtraction
print(5 * 2)  # Multiplication
print(5 / 2)  # Division
print(5 % 2)  # Modulus
print(5 ** 2)  # Exponentiation
print(5 // 2)  # Floor division

7
3
10
2.5
1
25
2

In [ ]:
# Comparison operators
print(5 == 2)  # Equal
print(5 != 2)  # Not equal
print(5 > 2)  # Greater than
print(5 < 2)  # Less than
print(5 >= 2)  # Greater than or equal to
print(5 <= 2)  # Less than or equal to

False
True
True
False
True
False

In [ ]:
# Assignment operators
# Equals
x = 5
print(x)

# Add AND
x += 3  # Equivalent to x = x + 3
print(x)

# Subtract AND
x -= 3  # Equivalent to x = x - 3
print(x)

5
8
5

In [ ]:
# Logical operators
# and - Returns True if both statements are true
x = 5
print(x > 3 and x < 10)  # Output: True

# or - Returns True if one of the statements is true
x = 5
print(x > 3 or x < 4)  # Output: True

# not - Reverse the result, returns False if the result is true
x = 5
print(not(x > 3 and x < 10))  # Output: False

True
True
False

In [ ]:
True and True = True
True and False = False
False and True = False
False and False = False

True or True = True
True or False = True
False or True = True
False or False = False

not True = False
not False = True

In [ ]:
# Membership operators
# in - Returns True if a sequence with the specified value is present in the object
x = ["apple", "banana"]
print("banana" in x)  # Output: True

# not in - Returns True if a sequence with the specified value is not present in the object
print("pineapple" not in x)  # Output: True

## Conditionals

In programming, **conditional statements** are used to perform different actions based on different conditions. Python supports the usual logical conditions from mathematics:

    Equals: a == b
    Not Equals: a != b
    Less than: a < b
    Less than or equal to: a <= b
    Greater than: a > b
    Greater than or equal to: a >= b

These conditions can be used in several ways, most commonly in "if statements".

### If Statements

An "if statement" is written by using the if keyword.

In [ ]:
a = 33
b = 200

if b > a:
  print("b is greater than a")  # Output: b is greater than a

b is greater than a

In [ ]:
a = 200
b = 33
if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")  # Output: b is not greater than a

b is not greater than a

In [ ]:
a = 200
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")  # Output: a is greater than b

a is greater than b

### Exercise:

Create a program that prints "Good Morning" if the time is before 12, "Good Afternoon" if the time is between 12 and 17, and "Good Evening" otherwise.

In [ ]:
time = 17
if time < 12:
  print('Good Morning')
elif time <= 17:
  print ('Good Afternoon')
else:
  print ('good Evening')

Good Afternoon

In [ ]:
x = 0
y = 13
try:
  print(y/x)
except:
  print('You are trying to div by')

You are trying to div by

## Bonus: Errors and debugging

Programming in Python or any language can lead to various types of errors, most commonly **syntax errors, runtime errors, and logical errors**.

**Debugging Techniques**

1. **Error Messages**: Make sure to read any error messages or exceptions Python shows you. They can often tell you exactly what's wrong, or at least give you a clue.

2. **Print Statements**: As mentioned, print() can be a simple but effective debugging tool. You can print out the values of variables at different points in your program to see where things go wrong.

3. **Code Review**: Sometimes, just the act of explaining your code to someone else can make an error obvious.

4. **Take a Break**: If you've been looking at a piece of code for a while and you can't figure out what's wrong, try to take a break. Fresh eyes can make a big difference.

In [ ]:
if time<12:
  print("goodmorning")
elif time>12 and time<17:
  print('goodafternoon')
else:
  print("goodevening")

goodafternoon