<a href="https://colab.research.google.com/github/sgathai/dsc-data-serialization-lab/blob/master/dspt_phase_1_CSV_and_JSON_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data analysis

**Overview of the Lecture**

1. Data analysis with CSV files

2. Data analysis with JSON files

## Data analysis with CSV files

What is a csv file?

**CSV** - csv stands for Comma Separated Values. These comma-separated values file use a comma as a delimiter i.e. a comma is used to separate values.

The csv library is custom built for csv files. Key functions are: `reading and writing`


### Recap reading csv files

In [ ]:
# Importing the library CSV
import csv

In [ ]:
!ls

new_releases.json  sample_data

In [ ]:
!ls sample_data

anscombe.json		      mnist_test.csv
california_housing_test.csv   mnist_train_small.csv
california_housing_train.csv  README.md

In [ ]:
# /content/sample_data/california_housing_train.csv
# /content/sample_data/california_housing_train.csv
csv_file_path = "/content/sample_data/california_housing_train.csv"

In [ ]:
# This code prints the first line of the CSV file

with open(csv_file_path) as csvfile:
    print(csvfile.readline())
    print(csvfile.readline())

"longitude","latitude","housing_median_age","total_rooms","total_bedrooms","population","households","median_income","median_house_value"

-114.310000,34.190000,15.000000,5612.000000,1283.000000,1015.000000,472.000000,1.493600,66900.000000

In [ ]:
# Print OrderedDict from first row of CSV file 
with open(csv_file_path) as csvfile:
    reader = csv.DictReader(csvfile)
    print(next(reader))
    print(next(reader))
    # for i in reader:
    #   print(i)

{'longitude': '-114.310000', 'latitude': '34.190000', 'housing_median_age': '15.000000', 'total_rooms': '5612.000000', 'total_bedrooms': '1283.000000', 'population': '1015.000000', 'households': '472.000000', 'median_income': '1.493600', 'median_house_value': '66900.000000'}
{'longitude': '-114.470000', 'latitude': '34.400000', 'housing_median_age': '19.000000', 'total_rooms': '7650.000000', 'total_bedrooms': '1901.000000', 'population': '1129.000000', 'households': '463.000000', 'median_income': '1.820000', 'median_house_value': '80100.000000'}

In [ ]:
houses = [] # List to store entries

with open(csv_file_path) as csvfile:
    reader = csv.DictReader(csvfile) # using dict reader to read from a file
    for row in reader:
        houses.append(row)

In [ ]:
??csv.DictReader

In [ ]:
houses[0] # Reading the first entry on the csv file

{'longitude': '-114.310000',
 'latitude': '34.190000',
 'housing_median_age': '15.000000',
 'total_rooms': '5612.000000',
 'total_bedrooms': '1283.000000',
 'population': '1015.000000',
 'households': '472.000000',
 'median_income': '1.493600',
 'median_house_value': '66900.000000'}

### Writing csv files

In [ ]:
# Random library is used to generate random date points
import random
# Datetime library for manipulation of date
import datetime

In [ ]:
random.seed(3)
data = [['Name', 'DOB', 'Grade', 'Attitude']] # list to store the column names

# Loop to generate data
for i in range(150):
    name = "Student " + str(i+1)
    dob = datetime.date(random.randint(1980, 2000), random.randint(1, 12), random.randint(1, 28)).strftime("%d/%m/%Y")
    grade = random.randint(0, 100)
    attitude = random.choice(['Positive', 'Negative'])
    data.append([name, dob, grade, attitude])

print(data)

[['Name', 'DOB', 'Grade', 'Attitude'], ['Student 1', '18/10/1987', 16, 'Negative'], ['Student 2', '21/08/1999', 74, 'Positive'], ['Student 3', '27/01/1999', 60, 'Negative'], ['Student 4', '07/04/1997', 91, 'Negative'], ['Student 5', '16/09/1997', 50, 'Positive'], ['Student 6', '05/11/1987', 66, 'Negative'], ['Student 7', '25/11/1980', 8, 'Positive'], ['Student 8', '10/01/1998', 99, 'Positive'], ['Student 9', '20/08/1988', 92, 'Negative'], ['Student 10', '24/07/1993', 73, 'Negative'], ['Student 11', '04/06/1984', 4, 'Positive'], ['Student 12', '09/04/1995', 86, 'Negative'], ['Student 13', '14/05/2000', 64, 'Negative'], ['Student 14', '18/06/1998', 74, 'Negative'], ['Student 15', '11/04/1998', 87, 'Positive'], ['Student 16', '22/10/1988', 89, 'Positive'], ['Student 17', '19/09/1990', 72, 'Positive'], ['Student 18', '21/04/2000', 73, 'Negative'], ['Student 19', '03/02/1989', 61, 'Negative'], ['Student 20', '26/06/1982', 8, 'Negative'], ['Student 21', '10/01/1984', 54, 'Negative'], ['Student 22', '20/01/1983', 78, 'Positive'], ['Student 23', '19/12/1992', 42, 'Negative'], ['Student 24', '02/04/1996', 39, 'Positive'], ['Student 25', '20/02/1982', 68, 'Positive'], ['Student 26', '10/07/1986', 78, 'Negative'], ['Student 27', '02/12/1984', 43, 'Negative'], ['Student 28', '28/03/1991', 48, 'Negative'], ['Student 29', '13/09/1994', 82, 'Positive'], ['Student 30', '09/09/1999', 55, 'Positive'], ['Student 31', '09/07/1989', 66, 'Negative'], ['Student 32', '01/06/1997', 100, 'Negative'], ['Student 33', '01/06/1998', 48, 'Positive'], ['Student 34', '21/11/1981', 42, 'Negative'], ['Student 35', '12/11/1991', 77, 'Negative'], ['Student 36', '19/01/1995', 7, 'Positive'], ['Student 37', '21/05/1991', 58, 'Negative'], ['Student 38', '11/10/1998', 22, 'Negative'], ['Student 39', '25/06/1985', 47, 'Negative'], ['Student 40', '04/07/1989', 98, 'Positive'], ['Student 41', '24/11/1998', 16, 'Negative'], ['Student 42', '21/04/1996', 34, 'Positive'], ['Student 43', '22/03/1990', 55, 'Positive'], ['Student 44', '11/10/1983', 42, 'Positive'], ['Student 45', '03/03/1994', 43, 'Positive'], ['Student 46', '09/08/1998', 28, 'Positive'], ['Student 47', '07/09/1981', 40, 'Positive'], ['Student 48', '26/06/1988', 82, 'Positive'], ['Student 49', '19/06/1999', 16, 'Negative'], ['Student 50', '26/09/1989', 34, 'Negative'], ['Student 51', '14/11/1991', 37, 'Negative'], ['Student 52', '02/07/1998', 52, 'Positive'], ['Student 53', '16/01/1986', 79, 'Negative'], ['Student 54', '08/12/1997', 4, 'Negative'], ['Student 55', '18/05/1996', 43, 'Positive'], ['Student 56', '10/10/1982', 15, 'Positive'], ['Student 57', '26/01/1981', 88, 'Positive'], ['Student 58', '02/10/1993', 1, 'Negative'], ['Student 59', '17/03/1983', 38, 'Positive'], ['Student 60', '18/09/1980', 52, 'Positive'], ['Student 61', '11/02/1999', 16, 'Negative'], ['Student 62', '26/08/1997', 100, 'Positive'], ['Student 63', '07/04/1991', 15, 'Positive'], ['Student 64', '26/04/1985', 35, 'Positive'], ['Student 65', '21/08/1980', 73, 'Negative'], ['Student 66', '08/05/1981', 34, 'Negative'], ['Student 67', '11/08/1981', 99, 'Positive'], ['Student 68', '02/03/1981', 15, 'Positive'], ['Student 69', '02/08/1982', 91, 'Positive'], ['Student 70', '16/09/1996', 40, 'Positive'], ['Student 71', '12/02/1990', 49, 'Negative'], ['Student 72', '12/05/1998', 33, 'Positive'], ['Student 73', '04/07/1990', 16, 'Positive'], ['Student 74', '19/02/1992', 22, 'Positive'], ['Student 75', '20/08/1991', 83, 'Negative'], ['Student 76', '20/01/2000', 55, 'Positive'], ['Student 77', '16/11/1991', 97, 'Negative'], ['Student 78', '14/12/1993', 58, 'Positive'], ['Student 79', '18/04/1987', 34, 'Positive'], ['Student 80', '14/04/1993', 16, 'Positive'], ['Student 81', '18/06/1990', 33, 'Positive'], ['Student 82', '04/12/1994', 93, 'Negative'], ['Student 83', '11/12/1983', 72, 'Positive'], ['Student 84', '01/12/1998', 60, 'Positive'], ['Student 85', '02/07/1987', 67, 'Positive'], ['Student 86', '22/02/1998', 48, 'Positive'], ['Student 87', '27/06/1980', 15, 'Positive'], ['Student 88', '16/11/1983', 89, 'Negative'], ['Student 89', '26/05/1998', 11, 'Positive'], ['Student 90', '17/09/1998', 91, 'Positive'], ['Student 91', '24/09/1983', 12, 'Positive'], ['Student 92', '28/06/1997', 72, 'Positive'], ['Student 93', '06/04/1982', 82, 'Positive'], ['Student 94', '23/10/1994', 96, 'Negative'], ['Student 95', '20/06/1988', 50, 'Negative'], ['Student 96', '03/07/1997', 48, 'Positive'], ['Student 97', '06/12/1993', 53, 'Negative'], ['Student 98', '13/11/1984', 19, 'Positive'], ['Student 99', '24/08/1983', 61, 'Negative'], ['Student 100', '28/12/1998', 23, 'Positive'], ['Student 101', '05/04/1988', 74, 'Negative'], ['Student 102', '18/12/1987', 99, 'Negative'], ['Student 103', '28/10/1993', 74, 'Negative'], ['Student 104', '01/05/1986', 34, 'Negative'], ['Student 105', '06/04/1992', 72, 'Negative'], ['Student 106', '16/06/1987', 99, 'Positive'], ['Student 107', '16/12/1993', 89, 'Positive'], ['Student 108', '27/10/1994', 83, 'Positive'], ['Student 109', '03/12/1995', 51, 'Positive'], ['Student 110', '08/04/1994', 82, 'Positive'], ['Student 111', '08/05/1986', 24, 'Negative'], ['Student 112', '20/03/1984', 90, 'Positive'], ['Student 113', '28/03/1988', 5, 'Negative'], ['Student 114', '03/07/1985', 93, 'Positive'], ['Student 115', '09/02/1983', 37, 'Positive'], ['Student 116', '19/08/1991', 93, 'Negative'], ['Student 117', '11/01/1980', 42, 'Negative'], ['Student 118', '03/08/1992', 26, 'Negative'], ['Student 119', '18/03/1992', 40, 'Positive'], ['Student 120', '22/02/1988', 55, 'Positive'], ['Student 121', '09/09/1994', 12, 'Negative'], ['Student 122', '10/08/1991', 84, 'Negative'], ['Student 123', '22/06/1983', 72, 'Positive'], ['Student 124', '12/09/1995', 7, 'Negative'], ['Student 125', '06/12/1998', 82, 'Positive'], ['Student 126', '21/06/1985', 58, 'Positive'], ['Student 127', '05/09/1983', 42, 'Negative'], ['Student 128', '21/05/1997', 23, 'Negative'], ['Student 129', '26/05/1995', 22, 'Positive'], ['Student 130', '06/12/1983', 96, 'Negative'], ['Student 131', '09/02/1991', 34, 'Negative'], ['Student 132', '02/03/1981', 61, 'Negative'], ['Student 133', '25/12/1987', 65, 'Negative'], ['Student 134', '15/07/1990', 69, 'Positive'], ['Student 135', '28/08/1991', 14, 'Positive'], ['Student 136', '04/10/1988', 87, 'Positive'], ['Student 137', '04/12/1998', 23, 'Positive'], ['Student 138', '22/07/1998', 95, 'Negative'], ['Student 139', '20/10/1984', 18, 'Negative'], ['Student 140', '17/09/1986', 21, 'Positive'], ['Student 141', '12/05/1986', 100, 'Negative'], ['Student 142', '14/08/1980', 49, 'Negative'], ['Student 143', '10/10/1997', 81, 'Negative'], ['Student 144', '23/11/1996', 38, 'Negative'], ['Student 145', '07/10/1980', 93, 'Positive'], ['Student 146', '08/11/1983', 62, 'Positive'], ['Student 147', '15/11/1996', 25, 'Positive'], ['Student 148', '02/04/1996', 64, 'Negative'], ['Student 149', '10/10/1983', 84, 'Positive'], ['Student 150', '26/08/1984', 11, 'Positive']]

In [ ]:
#data

In [ ]:
# Using csv.writer to write a csv file
with open('data.csv', 'w', newline='') as file:
    writer = csv.writer(file)
    writer.writerows(data)

Open the file in the file explorer/file system.

The data will look something like this:

![image.png]()

Neat!

In [ ]:
# Reading the data we created
with open('data.csv', 'r') as file:
    reader = csv.reader(file)
    data = list(reader)

print(data)

[['Name', 'DOB', 'Grade', 'Attitude'], ['Student 1', '18/10/1987', '16', 'Negative'], ['Student 2', '21/08/1999', '74', 'Positive'], ['Student 3', '27/01/1999', '60', 'Negative'], ['Student 4', '07/04/1997', '91', 'Negative'], ['Student 5', '16/09/1997', '50', 'Positive'], ['Student 6', '05/11/1987', '66', 'Negative'], ['Student 7', '25/11/1980', '8', 'Positive'], ['Student 8', '10/01/1998', '99', 'Positive'], ['Student 9', '20/08/1988', '92', 'Negative'], ['Student 10', '24/07/1993', '73', 'Negative'], ['Student 11', '04/06/1984', '4', 'Positive'], ['Student 12', '09/04/1995', '86', 'Negative'], ['Student 13', '14/05/2000', '64', 'Negative'], ['Student 14', '18/06/1998', '74', 'Negative'], ['Student 15', '11/04/1998', '87', 'Positive'], ['Student 16', '22/10/1988', '89', 'Positive'], ['Student 17', '19/09/1990', '72', 'Positive'], ['Student 18', '21/04/2000', '73', 'Negative'], ['Student 19', '03/02/1989', '61', 'Negative'], ['Student 20', '26/06/1982', '8', 'Negative'], ['Student 21', '10/01/1984', '54', 'Negative'], ['Student 22', '20/01/1983', '78', 'Positive'], ['Student 23', '19/12/1992', '42', 'Negative'], ['Student 24', '02/04/1996', '39', 'Positive'], ['Student 25', '20/02/1982', '68', 'Positive'], ['Student 26', '10/07/1986', '78', 'Negative'], ['Student 27', '02/12/1984', '43', 'Negative'], ['Student 28', '28/03/1991', '48', 'Negative'], ['Student 29', '13/09/1994', '82', 'Positive'], ['Student 30', '09/09/1999', '55', 'Positive'], ['Student 31', '09/07/1989', '66', 'Negative'], ['Student 32', '01/06/1997', '100', 'Negative'], ['Student 33', '01/06/1998', '48', 'Positive'], ['Student 34', '21/11/1981', '42', 'Negative'], ['Student 35', '12/11/1991', '77', 'Negative'], ['Student 36', '19/01/1995', '7', 'Positive'], ['Student 37', '21/05/1991', '58', 'Negative'], ['Student 38', '11/10/1998', '22', 'Negative'], ['Student 39', '25/06/1985', '47', 'Negative'], ['Student 40', '04/07/1989', '98', 'Positive'], ['Student 41', '24/11/1998', '16', 'Negative'], ['Student 42', '21/04/1996', '34', 'Positive'], ['Student 43', '22/03/1990', '55', 'Positive'], ['Student 44', '11/10/1983', '42', 'Positive'], ['Student 45', '03/03/1994', '43', 'Positive'], ['Student 46', '09/08/1998', '28', 'Positive'], ['Student 47', '07/09/1981', '40', 'Positive'], ['Student 48', '26/06/1988', '82', 'Positive'], ['Student 49', '19/06/1999', '16', 'Negative'], ['Student 50', '26/09/1989', '34', 'Negative'], ['Student 51', '14/11/1991', '37', 'Negative'], ['Student 52', '02/07/1998', '52', 'Positive'], ['Student 53', '16/01/1986', '79', 'Negative'], ['Student 54', '08/12/1997', '4', 'Negative'], ['Student 55', '18/05/1996', '43', 'Positive'], ['Student 56', '10/10/1982', '15', 'Positive'], ['Student 57', '26/01/1981', '88', 'Positive'], ['Student 58', '02/10/1993', '1', 'Negative'], ['Student 59', '17/03/1983', '38', 'Positive'], ['Student 60', '18/09/1980', '52', 'Positive'], ['Student 61', '11/02/1999', '16', 'Negative'], ['Student 62', '26/08/1997', '100', 'Positive'], ['Student 63', '07/04/1991', '15', 'Positive'], ['Student 64', '26/04/1985', '35', 'Positive'], ['Student 65', '21/08/1980', '73', 'Negative'], ['Student 66', '08/05/1981', '34', 'Negative'], ['Student 67', '11/08/1981', '99', 'Positive'], ['Student 68', '02/03/1981', '15', 'Positive'], ['Student 69', '02/08/1982', '91', 'Positive'], ['Student 70', '16/09/1996', '40', 'Positive'], ['Student 71', '12/02/1990', '49', 'Negative'], ['Student 72', '12/05/1998', '33', 'Positive'], ['Student 73', '04/07/1990', '16', 'Positive'], ['Student 74', '19/02/1992', '22', 'Positive'], ['Student 75', '20/08/1991', '83', 'Negative'], ['Student 76', '20/01/2000', '55', 'Positive'], ['Student 77', '16/11/1991', '97', 'Negative'], ['Student 78', '14/12/1993', '58', 'Positive'], ['Student 79', '18/04/1987', '34', 'Positive'], ['Student 80', '14/04/1993', '16', 'Positive'], ['Student 81', '18/06/1990', '33', 'Positive'], ['Student 82', '04/12/1994', '93', 'Negative'], ['Student 83', '11/12/1983', '72', 'Positive'], ['Student 84', '01/12/1998', '60', 'Positive'], ['Student 85', '02/07/1987', '67', 'Positive'], ['Student 86', '22/02/1998', '48', 'Positive'], ['Student 87', '27/06/1980', '15', 'Positive'], ['Student 88', '16/11/1983', '89', 'Negative'], ['Student 89', '26/05/1998', '11', 'Positive'], ['Student 90', '17/09/1998', '91', 'Positive'], ['Student 91', '24/09/1983', '12', 'Positive'], ['Student 92', '28/06/1997', '72', 'Positive'], ['Student 93', '06/04/1982', '82', 'Positive'], ['Student 94', '23/10/1994', '96', 'Negative'], ['Student 95', '20/06/1988', '50', 'Negative'], ['Student 96', '03/07/1997', '48', 'Positive'], ['Student 97', '06/12/1993', '53', 'Negative'], ['Student 98', '13/11/1984', '19', 'Positive'], ['Student 99', '24/08/1983', '61', 'Negative'], ['Student 100', '28/12/1998', '23', 'Positive'], ['Student 101', '05/04/1988', '74', 'Negative'], ['Student 102', '18/12/1987', '99', 'Negative'], ['Student 103', '28/10/1993', '74', 'Negative'], ['Student 104', '01/05/1986', '34', 'Negative'], ['Student 105', '06/04/1992', '72', 'Negative'], ['Student 106', '16/06/1987', '99', 'Positive'], ['Student 107', '16/12/1993', '89', 'Positive'], ['Student 108', '27/10/1994', '83', 'Positive'], ['Student 109', '03/12/1995', '51', 'Positive'], ['Student 110', '08/04/1994', '82', 'Positive'], ['Student 111', '08/05/1986', '24', 'Negative'], ['Student 112', '20/03/1984', '90', 'Positive'], ['Student 113', '28/03/1988', '5', 'Negative'], ['Student 114', '03/07/1985', '93', 'Positive'], ['Student 115', '09/02/1983', '37', 'Positive'], ['Student 116', '19/08/1991', '93', 'Negative'], ['Student 117', '11/01/1980', '42', 'Negative'], ['Student 118', '03/08/1992', '26', 'Negative'], ['Student 119', '18/03/1992', '40', 'Positive'], ['Student 120', '22/02/1988', '55', 'Positive'], ['Student 121', '09/09/1994', '12', 'Negative'], ['Student 122', '10/08/1991', '84', 'Negative'], ['Student 123', '22/06/1983', '72', 'Positive'], ['Student 124', '12/09/1995', '7', 'Negative'], ['Student 125', '06/12/1998', '82', 'Positive'], ['Student 126', '21/06/1985', '58', 'Positive'], ['Student 127', '05/09/1983', '42', 'Negative'], ['Student 128', '21/05/1997', '23', 'Negative'], ['Student 129', '26/05/1995', '22', 'Positive'], ['Student 130', '06/12/1983', '96', 'Negative'], ['Student 131', '09/02/1991', '34', 'Negative'], ['Student 132', '02/03/1981', '61', 'Negative'], ['Student 133', '25/12/1987', '65', 'Negative'], ['Student 134', '15/07/1990', '69', 'Positive'], ['Student 135', '28/08/1991', '14', 'Positive'], ['Student 136', '04/10/1988', '87', 'Positive'], ['Student 137', '04/12/1998', '23', 'Positive'], ['Student 138', '22/07/1998', '95', 'Negative'], ['Student 139', '20/10/1984', '18', 'Negative'], ['Student 140', '17/09/1986', '21', 'Positive'], ['Student 141', '12/05/1986', '100', 'Negative'], ['Student 142', '14/08/1980', '49', 'Negative'], ['Student 143', '10/10/1997', '81', 'Negative'], ['Student 144', '23/11/1996', '38', 'Negative'], ['Student 145', '07/10/1980', '93', 'Positive'], ['Student 146', '08/11/1983', '62', 'Positive'], ['Student 147', '15/11/1996', '25', 'Positive'], ['Student 148', '02/04/1996', '64', 'Negative'], ['Student 149', '10/10/1983', '84', 'Positive'], ['Student 150', '26/08/1984', '11', 'Positive']]

In [ ]:
type(data)

list

![#f03c15](https://placehold.co/15x15/f03c15/f03c15.png) Say you want to add a column Month and Year to our list of list.

1. We can create the Month and Year column by adding them to the first list
2. For each of the list that contain data, we can then read the DOB data and extract month and year.

In [ ]:
# Adding Month and Year to the column list
data[0].append('Month')
data[0].append('Year')
data[0]

['Name', 'DOB', 'Grade', 'Attitude', 'Month', 'Year']

In [ ]:
#Process the student list to add numeric values for month and year to each entry
for st in data:
  if len(st) == 6: # Skips the list that stores column names
    pass
  else:
    dt = st[1] # # Save the date to a variable
    #print(dt)
    
    # Extract the year and month from the string
    st.append(dt[3:5])
    st.append(dt[-4:])

data # final data

[['Name', 'DOB', 'Grade', 'Attitude', 'Month', 'Year'],
 ['Student 1', '18/10/1987', '16', 'Negative', '10', '1987'],
 ['Student 2', '21/08/1999', '74', 'Positive', '08', '1999'],
 ['Student 3', '27/01/1999', '60', 'Negative', '01', '1999'],
 ['Student 4', '07/04/1997', '91', 'Negative', '04', '1997'],
 ['Student 5', '16/09/1997', '50', 'Positive', '09', '1997'],
 ['Student 6', '05/11/1987', '66', 'Negative', '11', '1987'],
 ['Student 7', '25/11/1980', '8', 'Positive', '11', '1980'],
 ['Student 8', '10/01/1998', '99', 'Positive', '01', '1998'],
 ['Student 9', '20/08/1988', '92', 'Negative', '08', '1988'],
 ['Student 10', '24/07/1993', '73', 'Negative', '07', '1993'],
 ['Student 11', '04/06/1984', '4', 'Positive', '06', '1984'],
 ['Student 12', '09/04/1995', '86', 'Negative', '04', '1995'],
 ['Student 13', '14/05/2000', '64', 'Negative', '05', '2000'],
 ['Student 14', '18/06/1998', '74', 'Negative', '06', '1998'],
 ['Student 15', '11/04/1998', '87', 'Positive', '04', '1998'],
 ['Student 16', '22/10/1988', '89', 'Positive', '10', '1988'],
 ['Student 17', '19/09/1990', '72', 'Positive', '09', '1990'],
 ['Student 18', '21/04/2000', '73', 'Negative', '04', '2000'],
 ['Student 19', '03/02/1989', '61', 'Negative', '02', '1989'],
 ['Student 20', '26/06/1982', '8', 'Negative', '06', '1982'],
 ['Student 21', '10/01/1984', '54', 'Negative', '01', '1984'],
 ['Student 22', '20/01/1983', '78', 'Positive', '01', '1983'],
 ['Student 23', '19/12/1992', '42', 'Negative', '12', '1992'],
 ['Student 24', '02/04/1996', '39', 'Positive', '04', '1996'],
 ['Student 25', '20/02/1982', '68', 'Positive', '02', '1982'],
 ['Student 26', '10/07/1986', '78', 'Negative', '07', '1986'],
 ['Student 27', '02/12/1984', '43', 'Negative', '12', '1984'],
 ['Student 28', '28/03/1991', '48', 'Negative', '03', '1991'],
 ['Student 29', '13/09/1994', '82', 'Positive', '09', '1994'],
 ['Student 30', '09/09/1999', '55', 'Positive', '09', '1999'],
 ['Student 31', '09/07/1989', '66', 'Negative', '07', '1989'],
 ['Student 32', '01/06/1997', '100', 'Negative', '06', '1997'],
 ['Student 33', '01/06/1998', '48', 'Positive', '06', '1998'],
 ['Student 34', '21/11/1981', '42', 'Negative', '11', '1981'],
 ['Student 35', '12/11/1991', '77', 'Negative', '11', '1991'],
 ['Student 36', '19/01/1995', '7', 'Positive', '01', '1995'],
 ['Student 37', '21/05/1991', '58', 'Negative', '05', '1991'],
 ['Student 38', '11/10/1998', '22', 'Negative', '10', '1998'],
 ['Student 39', '25/06/1985', '47', 'Negative', '06', '1985'],
 ['Student 40', '04/07/1989', '98', 'Positive', '07', '1989'],
 ['Student 41', '24/11/1998', '16', 'Negative', '11', '1998'],
 ['Student 42', '21/04/1996', '34', 'Positive', '04', '1996'],
 ['Student 43', '22/03/1990', '55', 'Positive', '03', '1990'],
 ['Student 44', '11/10/1983', '42', 'Positive', '10', '1983'],
 ['Student 45', '03/03/1994', '43', 'Positive', '03', '1994'],
 ['Student 46', '09/08/1998', '28', 'Positive', '08', '1998'],
 ['Student 47', '07/09/1981', '40', 'Positive', '09', '1981'],
 ['Student 48', '26/06/1988', '82', 'Positive', '06', '1988'],
 ['Student 49', '19/06/1999', '16', 'Negative', '06', '1999'],
 ['Student 50', '26/09/1989', '34', 'Negative', '09', '1989'],
 ['Student 51', '14/11/1991', '37', 'Negative', '11', '1991'],
 ['Student 52', '02/07/1998', '52', 'Positive', '07', '1998'],
 ['Student 53', '16/01/1986', '79', 'Negative', '01', '1986'],
 ['Student 54', '08/12/1997', '4', 'Negative', '12', '1997'],
 ['Student 55', '18/05/1996', '43', 'Positive', '05', '1996'],
 ['Student 56', '10/10/1982', '15', 'Positive', '10', '1982'],
 ['Student 57', '26/01/1981', '88', 'Positive', '01', '1981'],
 ['Student 58', '02/10/1993', '1', 'Negative', '10', '1993'],
 ['Student 59', '17/03/1983', '38', 'Positive', '03', '1983'],
 ['Student 60', '18/09/1980', '52', 'Positive', '09', '1980'],
 ['Student 61', '11/02/1999', '16', 'Negative', '02', '1999'],
 ['Student 62', '26/08/1997', '100', 'Positive', '08', '1997'],
 ['Student 63', '07/04/1991', '15', 'Positive', '04', '1991'],
 ['Student 64', '26/04/1985', '35', 'Positive', '04', '1985'],
 ['Student 65', '21/08/1980', '73', 'Negative', '08', '1980'],
 ['Student 66', '08/05/1981', '34', 'Negative', '05', '1981'],
 ['Student 67', '11/08/1981', '99', 'Positive', '08', '1981'],
 ['Student 68', '02/03/1981', '15', 'Positive', '03', '1981'],
 ['Student 69', '02/08/1982', '91', 'Positive', '08', '1982'],
 ['Student 70', '16/09/1996', '40', 'Positive', '09', '1996'],
 ['Student 71', '12/02/1990', '49', 'Negative', '02', '1990'],
 ['Student 72', '12/05/1998', '33', 'Positive', '05', '1998'],
 ['Student 73', '04/07/1990', '16', 'Positive', '07', '1990'],
 ['Student 74', '19/02/1992', '22', 'Positive', '02', '1992'],
 ['Student 75', '20/08/1991', '83', 'Negative', '08', '1991'],
 ['Student 76', '20/01/2000', '55', 'Positive', '01', '2000'],
 ['Student 77', '16/11/1991', '97', 'Negative', '11', '1991'],
 ['Student 78', '14/12/1993', '58', 'Positive', '12', '1993'],
 ['Student 79', '18/04/1987', '34', 'Positive', '04', '1987'],
 ['Student 80', '14/04/1993', '16', 'Positive', '04', '1993'],
 ['Student 81', '18/06/1990', '33', 'Positive', '06', '1990'],
 ['Student 82', '04/12/1994', '93', 'Negative', '12', '1994'],
 ['Student 83', '11/12/1983', '72', 'Positive', '12', '1983'],
 ['Student 84', '01/12/1998', '60', 'Positive', '12', '1998'],
 ['Student 85', '02/07/1987', '67', 'Positive', '07', '1987'],
 ['Student 86', '22/02/1998', '48', 'Positive', '02', '1998'],
 ['Student 87', '27/06/1980', '15', 'Positive', '06', '1980'],
 ['Student 88', '16/11/1983', '89', 'Negative', '11', '1983'],
 ['Student 89', '26/05/1998', '11', 'Positive', '05', '1998'],
 ['Student 90', '17/09/1998', '91', 'Positive', '09', '1998'],
 ['Student 91', '24/09/1983', '12', 'Positive', '09', '1983'],
 ['Student 92', '28/06/1997', '72', 'Positive', '06', '1997'],
 ['Student 93', '06/04/1982', '82', 'Positive', '04', '1982'],
 ['Student 94', '23/10/1994', '96', 'Negative', '10', '1994'],
 ['Student 95', '20/06/1988', '50', 'Negative', '06', '1988'],
 ['Student 96', '03/07/1997', '48', 'Positive', '07', '1997'],
 ['Student 97', '06/12/1993', '53', 'Negative', '12', '1993'],
 ['Student 98', '13/11/1984', '19', 'Positive', '11', '1984'],
 ['Student 99', '24/08/1983', '61', 'Negative', '08', '1983'],
 ['Student 100', '28/12/1998', '23', 'Positive', '12', '1998'],
 ['Student 101', '05/04/1988', '74', 'Negative', '04', '1988'],
 ['Student 102', '18/12/1987', '99', 'Negative', '12', '1987'],
 ['Student 103', '28/10/1993', '74', 'Negative', '10', '1993'],
 ['Student 104', '01/05/1986', '34', 'Negative', '05', '1986'],
 ['Student 105', '06/04/1992', '72', 'Negative', '04', '1992'],
 ['Student 106', '16/06/1987', '99', 'Positive', '06', '1987'],
 ['Student 107', '16/12/1993', '89', 'Positive', '12', '1993'],
 ['Student 108', '27/10/1994', '83', 'Positive', '10', '1994'],
 ['Student 109', '03/12/1995', '51', 'Positive', '12', '1995'],
 ['Student 110', '08/04/1994', '82', 'Positive', '04', '1994'],
 ['Student 111', '08/05/1986', '24', 'Negative', '05', '1986'],
 ['Student 112', '20/03/1984', '90', 'Positive', '03', '1984'],
 ['Student 113', '28/03/1988', '5', 'Negative', '03', '1988'],
 ['Student 114', '03/07/1985', '93', 'Positive', '07', '1985'],
 ['Student 115', '09/02/1983', '37', 'Positive', '02', '1983'],
 ['Student 116', '19/08/1991', '93', 'Negative', '08', '1991'],
 ['Student 117', '11/01/1980', '42', 'Negative', '01', '1980'],
 ['Student 118', '03/08/1992', '26', 'Negative', '08', '1992'],
 ['Student 119', '18/03/1992', '40', 'Positive', '03', '1992'],
 ['Student 120', '22/02/1988', '55', 'Positive', '02', '1988'],
 ['Student 121', '09/09/1994', '12', 'Negative', '09', '1994'],
 ['Student 122', '10/08/1991', '84', 'Negative', '08', '1991'],
 ['Student 123', '22/06/1983', '72', 'Positive', '06', '1983'],
 ['Student 124', '12/09/1995', '7', 'Negative', '09', '1995'],
 ['Student 125', '06/12/1998', '82', 'Positive', '12', '1998'],
 ['Student 126', '21/06/1985', '58', 'Positive', '06', '1985'],
 ['Student 127', '05/09/1983', '42', 'Negative', '09', '1983'],
 ['Student 128', '21/05/1997', '23', 'Negative', '05', '1997'],
 ['Student 129', '26/05/1995', '22', 'Positive', '05', '1995'],
 ['Student 130', '06/12/1983', '96', 'Negative', '12', '1983'],
 ['Student 131', '09/02/1991', '34', 'Negative', '02', '1991'],
 ['Student 132', '02/03/1981', '61', 'Negative', '03', '1981'],
 ['Student 133', '25/12/1987', '65', 'Negative', '12', '1987'],
 ['Student 134', '15/07/1990', '69', 'Positive', '07', '1990'],
 ['Student 135', '28/08/1991', '14', 'Positive', '08', '1991'],
 ['Student 136', '04/10/1988', '87', 'Positive', '10', '1988'],
 ['Student 137', '04/12/1998', '23', 'Positive', '12', '1998'],
 ['Student 138', '22/07/1998', '95', 'Negative', '07', '1998'],
 ['Student 139', '20/10/1984', '18', 'Negative', '10', '1984'],
 ['Student 140', '17/09/1986', '21', 'Positive', '09', '1986'],
 ['Student 141', '12/05/1986', '100', 'Negative', '05', '1986'],
 ['Student 142', '14/08/1980', '49', 'Negative', '08', '1980'],
 ['Student 143', '10/10/1997', '81', 'Negative', '10', '1997'],
 ['Student 144', '23/11/1996', '38', 'Negative', '11', '1996'],
 ['Student 145', '07/10/1980', '93', 'Positive', '10', '1980'],
 ['Student 146', '08/11/1983', '62', 'Positive', '11', '1983'],
 ['Student 147', '15/11/1996', '25', 'Positive', '11', '1996'],
 ['Student 148', '02/04/1996', '64', 'Negative', '04', '1996'],
 ['Student 149', '10/10/1983', '84', 'Positive', '10', '1983'],
 ['Student 150', '26/08/1984', '11', 'Positive', '08', '1984']]



1.   What is the range of grades in class?
2.   How many students were born in 2000?
3.   What was the mean grade for students born in 2000?
4.   How many students scored above 80?

In [ ]:
#@title What is the range of grades in class?
# Solution: range of grades
years = [data[i][2] for i in range(1,len(data))]
max(years),min(years)

('99', '0')

In [ ]:
#@title How many students were born in 2000?
# Solution: Number of students born in 2000
students2000 = [data[i][-1] for i in range(1,len(data)) if data[i][-1]=='2000']
print('Number of students born in 2000:', len(students2000))

Number of students born in 2000: 7

In [ ]:
#@title What was the mean grade for students born in 2000?
# Solution: Mean grade for students born in 2000
grades2000 = [int(data[i][2]) for i in range(1,len(data)) if data[i][-1]=='2000']
print('Mean grade for students born in 2000:', sum(grades2000)/len(students2000))

Mean grade for students born in 2000: 66.0

In [ ]:
#@title How many students scored above 80?
# Solution: Number of students who scored above 80
above80 = [data[i][2] for i in range(1,len(data)) if int(data[i][2])>80]
print('Number of students who scored above 80:', len(above80))

Number of students who scored above 80: 26

 Note: as with all programming, there are many ways to get these answers from the above data. See if you can come up with others.

# Data analysis with JSON files

JSON stands for JavaScript object Notation. A JSON file stores JSON text i.e. in syntax for storing and exchanging data.

The JSON Python library works with the JSON file format. The key functions are: `creating, loading and encoding data in json`.

In [ ]:
# Loading needed libraries
import json
import numpy as np
from collections import defaultdict

In [ ]:
!pwd

/content

In [ ]:
# Reading the json file
with open('new_releases.json') as f:
    data = json.load(f)

In [ ]:
## This will look messy
print(data)

{'albums': {'href': 'https://api.spotify.com/v1/browse/new-releases?offset=0&limit=20', 'items': [{'album_type': 'album', 'artists': [{'external_urls': {'spotify': 'https://open.spotify.com/artist/1RyvyyTE3xzB2ZywiAwp0i'}, 'href': 'https://api.spotify.com/v1/artists/1RyvyyTE3xzB2ZywiAwp0i', 'id': '1RyvyyTE3xzB2ZywiAwp0i', 'name': 'Future', 'type': 'artist', 'uri': 'spotify:artist:1RyvyyTE3xzB2ZywiAwp0i'}], 'available_markets': ['AD', 'AE', 'AR', 'AT', 'AU', 'BE', 'BG', 'BH', 'BO', 'BR', 'CA', 'CH', 'CL', 'CO', 'CR', 'CY', 'CZ', 'DE', 'DK', 'DO', 'DZ', 'EC', 'EE', 'EG', 'ES', 'FI', 'FR', 'GB', 'GR', 'GT', 'HK', 'HN', 'HU', 'ID', 'IE', 'IL', 'IN', 'IS', 'IT', 'JO', 'JP', 'KW', 'LB', 'LI', 'LT', 'LU', 'LV', 'MA', 'MC', 'MT', 'MX', 'MY', 'NI', 'NL', 'NO', 'NZ', 'OM', 'PA', 'PE', 'PH', 'PL', 'PS', 'PT', 'PY', 'QA', 'RO', 'SA', 'SE', 'SG', 'SK', 'SV', 'TH', 'TN', 'TR', 'TW', 'US', 'UY', 'VN', 'ZA'], 'external_urls': {'spotify': 'https://open.spotify.com/album/4bNPOFOzxGhF5jhfIK6lit'}, 'href': 'https://api.spotify.com/v1/albums/4bNPOFOzxGhF5jhfIK6lit', 'id': '4bNPOFOzxGhF5jhfIK6lit', 'images': [{'height': 640, 'url': 'https://i.scdn.co/image/ab67616d0000b273935d8d5369bc55e74a39303e', 'width': 640}, {'height': 300, 'url': 'https://i.scdn.co/image/ab67616d00001e02935d8d5369bc55e74a39303e', 'width': 300}, {'height': 64, 'url': 'https://i.scdn.co/image/ab67616d00004851935d8d5369bc55e74a39303e', 'width': 64}], 'name': 'High Off Life', 'release_date': '2020-05-15', 'release_date_precision': 'day', 'total_tracks': 21, 'type': 'album', 'uri': 'spotify:album:4bNPOFOzxGhF5jhfIK6lit'}, {'album_type': 'single', 'artists': [{'external_urls': {'spotify': 'https://open.spotify.com/artist/23fqKkggKUBHNkbKtXEls4'}, 'href': 'https://api.spotify.com/v1/artists/23fqKkggKUBHNkbKtXEls4', 'id': '23fqKkggKUBHNkbKtXEls4', 'name': 'Kygo', 'type': 'artist', 'uri': 'spotify:artist:23fqKkggKUBHNkbKtXEls4'}, {'external_urls': {'spotify': 'https://open.spotify.com/artist/5Pwc4xIPtQLFEnJriah9YJ'}, 'href': 'https://api.spotify.com/v1/artists/5Pwc4xIPtQLFEnJriah9YJ', 'id': '5Pwc4xIPtQLFEnJriah9YJ', 'name': 'OneRepublic', 'type': 'artist', 'uri': 'spotify:artist:5Pwc4xIPtQLFEnJriah9YJ'}], 'available_markets': ['AD', 'AE', 'AR', 'AT', 'AU', 'BE', 'BG', 'BH', 'BO', 'BR', 'CA', 'CH', 'CL', 'CO', 'CR', 'CY', 'CZ', 'DE', 'DK', 'DO', 'DZ', 'EC', 'EE', 'EG', 'ES', 'FI', 'FR', 'GB', 'GR', 'GT', 'HK', 'HN', 'HU', 'ID', 'IE', 'IL', 'IN', 'IS', 'IT', 'JO', 'JP', 'KW', 'LB', 'LI', 'LT', 'LU', 'LV', 'MA', 'MC', 'MT', 'MX', 'MY', 'NI', 'NL', 'NO', 'NZ', 'OM', 'PA', 'PE', 'PH', 'PL', 'PS', 'PT', 'PY', 'QA', 'RO', 'SA', 'SE', 'SG', 'SK', 'SV', 'TH', 'TN', 'TR', 'TW', 'US', 'UY', 'VN', 'ZA'], 'external_urls': {'spotify': 'https://open.spotify.com/album/3LhriqAiHJYw7rxvtlkvQc'}, 'href': 'https://api.spotify.com/v1/albums/3LhriqAiHJYw7rxvtlkvQc', 'id': '3LhriqAiHJYw7rxvtlkvQc', 'images': [{'height': 640, 'url': 'https://i.scdn.co/image/ab67616d0000b273479856767f92aab97c956704', 'width': 640}, {'height': 300, 'url': 'https://i.scdn.co/image/ab67616d00001e02479856767f92aab97c956704', 'width': 300}, {'height': 64, 'url': 'https://i.scdn.co/image/ab67616d00004851479856767f92aab97c956704', 'width': 64}], 'name': 'Lose Somebody', 'release_date': '2020-05-15', 'release_date_precision': 'day', 'total_tracks': 1, 'type': 'album', 'uri': 'spotify:album:3LhriqAiHJYw7rxvtlkvQc'}, {'album_type': 'album', 'artists': [{'external_urls': {'spotify': 'https://open.spotify.com/artist/0LyfQWJT6nXafLPZqxe9Of'}, 'href': 'https://api.spotify.com/v1/artists/0LyfQWJT6nXafLPZqxe9Of', 'id': '0LyfQWJT6nXafLPZqxe9Of', 'name': 'Various Artists', 'type': 'artist', 'uri': 'spotify:artist:0LyfQWJT6nXafLPZqxe9Of'}], 'available_markets': ['AD', 'AE', 'AR', 'AT', 'AU', 'BE', 'BG', 'BH', 'BO', 'BR', 'CA', 'CH', 'CL', 'CO', 'CR', 'CY', 'CZ', 'DE', 'DK', 'DO', 'DZ', 'EC', 'EE', 'EG', 'ES', 'FI', 'FR', 'GB', 'GR', 'GT', 'HK', 'HN', 'HU', 'ID', 'IE', 'IL', 'IN', 'IS', 'IT', 'JO', 'JP', 'KW', 'LB', 'LI', 'LT', 'LU', 'LV', 'MA', 'MC', 'MT', 'MX', 'MY', 'NI', 'NL', 'NO', 'NZ', 'OM', 'PA', 'PE', 'PH', 'PL', 'PS', 'PT', 'PY', 'QA', 'RO', 'SA', 'SE', 'SG', 'SK', 'SV', 'TH', 'TN', 'TR', 'TW', 'US', 'UY', 'VN', 'ZA'], 'external_urls': {'spotify': 'https://open.spotify.com/album/2Zg5xZo3WwIoAZys8OcUpG'}, 'href': 'https://api.spotify.com/v1/albums/2Zg5xZo3WwIoAZys8OcUpG', 'id': '2Zg5xZo3WwIoAZys8OcUpG', 'images': [{'height': 640, 'url': 'https://i.scdn.co/image/ab67616d0000b2732e819e33b9703a8b3fc85a35', 'width': 640}, {'height': 300, 'url': 'https://i.scdn.co/image/ab67616d00001e022e819e33b9703a8b3fc85a35', 'width': 300}, {'height': 64, 'url': 'https://i.scdn.co/image/ab67616d000048512e819e33b9703a8b3fc85a35', 'width': 64}], 'name': 'SCOOB! The Album', 'release_date': '2020-05-15', 'release_date_precision': 'day', 'total_tracks': 12, 'type': 'album', 'uri': 'spotify:album:2Zg5xZo3WwIoAZys8OcUpG'}, {'album_type': 'single', 'artists': [{'external_urls': {'spotify': 'https://open.spotify.com/artist/6jJ0s89eD6GaHleKKya26X'}, 'href': 'https://api.spotify.com/v1/artists/6jJ0s89eD6GaHleKKya26X', 'id': '6jJ0s89eD6GaHleKKya26X', 'name': 'Katy Perry', 'type': 'artist', 'uri': 'spotify:artist:6jJ0s89eD6GaHleKKya26X'}], 'available_markets': ['AD', 'AE', 'AR', 'AT', 'AU', 'BE', 'BG', 'BH', 'BO', 'BR', 'CA', 'CH', 'CL', 'CO', 'CR', 'CY', 'CZ', 'DE', 'DK', 'DO', 'DZ', 'EC', 'EE', 'EG', 'ES', 'FI', 'FR', 'GB', 'GR', 'GT', 'HK', 'HN', 'HU', 'ID', 'IE', 'IL', 'IN', 'IS', 'IT', 'JO', 'JP', 'KW', 'LB', 'LI', 'LT', 'LU', 'LV', 'MA', 'MC', 'MT', 'MX', 'MY', 'NI', 'NL', 'NO', 'NZ', 'OM', 'PA', 'PE', 'PH', 'PL', 'PS', 'PT', 'PY', 'QA', 'RO', 'SA', 'SE', 'SG', 'SK', 'SV', 'TH', 'TN', 'TR', 'TW', 'US', 'UY', 'VN', 'ZA'], 'external_urls': {'spotify': 'https://open.spotify.com/album/2m5J1DUH7hJpPSOromIqpN'}, 'href': 'https://api.spotify.com/v1/albums/2m5J1DUH7hJpPSOromIqpN', 'id': '2m5J1DUH7hJpPSOromIqpN', 'images': [{'height': 640, 'url': 'https://i.scdn.co/image/ab67616d0000b2738df6751bad8ab6b5c928dba3', 'width': 640}, {'height': 300, 'url': 'https://i.scdn.co/image/ab67616d00001e028df6751bad8ab6b5c928dba3', 'width': 300}, {'height': 64, 'url': 'https://i.scdn.co/image/ab67616d000048518df6751bad8ab6b5c928dba3', 'width': 64}], 'name': 'Daisies', 'release_date': '2020-05-15', 'release_date_precision': 'day', 'total_tracks': 1, 'type': 'album', 'uri': 'spotify:album:2m5J1DUH7hJpPSOromIqpN'}, {'album_type': 'album', 'artists': [{'external_urls': {'spotify': 'https://open.spotify.com/artist/6AgTAQt8XS6jRWi4sX7w49'}, 'href': 'https://api.spotify.com/v1/artists/6AgTAQt8XS6jRWi4sX7w49', 'id': '6AgTAQt8XS6jRWi4sX7w49', 'name': 'Polo G', 'type': 'artist', 'uri': 'spotify:artist:6AgTAQt8XS6jRWi4sX7w49'}], 'available_markets': ['AD', 'AE', 'AR', 'AT', 'AU', 'BE', 'BG', 'BH', 'BO', 'BR', 'CA', 'CH', 'CL', 'CO', 'CR', 'CY', 'CZ', 'DE', 'DK', 'DO', 'DZ', 'EC', 'EE', 'EG', 'ES', 'FI', 'FR', 'GB', 'GR', 'GT', 'HK', 'HN', 'HU', 'ID', 'IE', 'IL', 'IN', 'IS', 'IT', 'JO', 'JP', 'KW', 'LB', 'LI', 'LT', 'LU', 'LV', 'MA', 'MC', 'MT', 'MX', 'MY', 'NI', 'NL', 'NO', 'NZ', 'OM', 'PA', 'PE', 'PH', 'PL', 'PS', 'PT', 'PY', 'QA', 'RO', 'SA', 'SE', 'SG', 'SK', 'SV', 'TH', 'TN', 'TR', 'TW', 'US', 'UY', 'VN', 'ZA'], 'external_urls': {'spotify': 'https://open.spotify.com/album/39xhYyNNDatQtgKw2KdXMz'}, 'href': 'https://api.spotify.com/v1/albums/39xhYyNNDatQtgKw2KdXMz', 'id': '39xhYyNNDatQtgKw2KdXMz', 'images': [{'height': 640, 'url': 'https://i.scdn.co/image/ab67616d0000b273339f780dfdbc38558ea0761d', 'width': 640}, {'height': 300, 'url': 'https://i.scdn.co/image/ab67616d00001e02339f780dfdbc38558ea0761d', 'width': 300}, {'height': 64, 'url': 'https://i.scdn.co/image/ab67616d00004851339f780dfdbc38558ea0761d', 'width': 64}], 'name': 'THE GOAT', 'release_date': '2020-05-15', 'release_date_precision': 'day', 'total_tracks': 16, 'type': 'album', 'uri': 'spotify:album:39xhYyNNDatQtgKw2KdXMz'}, {'album_type': 'single', 'artists': [{'external_urls': {'spotify': 'https://open.spotify.com/artist/7gOdHgIoIKoe4i9Tta6qdD'}, 'href': 'https://api.spotify.com/v1/artists/7gOdHgIoIKoe4i9Tta6qdD', 'id': '7gOdHgIoIKoe4i9Tta6qdD', 'name': 'Jonas Brothers', 'type': 'artist', 'uri': 'spotify:artist:7gOdHgIoIKoe4i9Tta6qdD'}, {'external_urls': {'spotify': 'https://open.spotify.com/artist/790FomKkXshlbRYZFtlgla'}, 'href': 'https://api.spotify.com/v1/artists/790FomKkXshlbRYZFtlgla', 'id': '790FomKkXshlbRYZFtlgla', 'name': 'KAROL G', 'type': 'artist', 'uri': 'spotify:artist:790FomKkXshlbRYZFtlgla'}], 'available_markets': ['AD', 'AE', 'AR', 'AT', 'AU', 'BE', 'BG', 'BH', 'BO', 'BR', 'CA', 'CH', 'CL', 'CO', 'CR', 'CY', 'CZ', 'DE', 'DK', 'DO', 'DZ', 'EC', 'EE', 'EG', 'ES', 'FI', 'FR', 'GB', 'GR', 'GT', 'HK', 'HN', 'HU', 'ID', 'IE', 'IL', 'IN', 'IS', 'IT', 'JO', 'JP', 'KW', 'LB', 'LI', 'LT', 'LU', 'LV', 'MA', 'MC', 'MT', 'MX', 'MY', 'NI', 'NL', 'NO', 'NZ', 'OM', 'PA', 'PE', 'PH', 'PL', 'PS', 'PT', 'PY', 'QA', 'RO', 'SA', 'SE', 'SG', 'SK', 'SV', 'TH', 'TN', 'TR', 'TW', 'US', 'UY', 'VN', 'ZA'], 'external_urls': {'spotify': 'https://open.spotify.com/album/0i96PtPJV65ddxsfMfo45F'}, 'href': 'https://api.spotify.com/v1/albums/0i96PtPJV65ddxsfMfo45F', 'id': '0i96PtPJV65ddxsfMfo45F', 'images': [{'height': 640, 'url': 'https://i.scdn.co/image/ab67616d0000b2733b3cd45dfa6f779c01d63fdb', 'width': 640}, {'height': 300, 'url': 'https://i.scdn.co/image/ab67616d00001e023b3cd45dfa6f779c01d63fdb', 'width': 300}, {'height': 64, 'url': 'https://i.scdn.co/image/ab67616d000048513b3cd45dfa6f779c01d63fdb', 'width': 64}], 'name': 'XV', 'release_date': '2020-05-15', 'release_date_precision': 'day', 'total_tracks': 2, 'type': 'album', 'uri': 'spotify:album:0i96PtPJV65ddxsfMfo45F'}, {'album_type': 'album', 'artists': [{'external_urls': {'spotify': 'https://open.spotify.com/artist/25uiPmTg16RbhZWAqwLBy5'}, 'href': 'https://api.spotify.com/v1/artists/25uiPmTg16RbhZWAqwLBy5', 'id': '25uiPmTg16RbhZWAqwLBy5', 'name': 'Charli XCX', 'type': 'artist', 'uri': 'spotify:artist:25uiPmTg16RbhZWAqwLBy5'}], 'available_markets': ['AD', 'AE', 'AR', 'AT', 'AU', 'BE', 'BG', 'BH', 'BO', 'BR', 'CA', 'CH', 'CL', 'CO', 'CR', 'CY', 'CZ', 'DE', 'DK', 'DO', 'DZ', 'EC', 'EE', 'EG', 'ES', 'FI', 'FR', 'GB', 'GR', 'GT', 'HK', 'HN', 'HU', 'ID', 'IE', 'IL', 'IN', 'IS', 'IT', 'JO', 'JP', 'KW', 'LB', 'LI', 'LT', 'LU', 'LV', 'MA', 'MC', 'MT', 'MX', 'MY', 'NI', 'NL', 'NO', 'NZ', 'OM', 'PA', 'PE', 'PH', 'PL', 'PS', 'PT', 'PY', 'QA', 'RO', 'SA', 'SE', 'SG', 'SK', 'SV', 'TH', 'TN', 'TR', 'TW', 'US', 'UY', 'VN', 'ZA'], 'external_urls': {'spotify': 'https://open.spotify.com/album/3a9qH2VEsSiOZvMrjaS0Nu'}, 'href': 'https://api.spotify.com/v1/albums/3a9qH2VEsSiOZvMrjaS0Nu', 'id': '3a9qH2VEsSiOZvMrjaS0Nu', 'images': [{'height': 640, 'url': 'https://i.scdn.co/image/ab67616d0000b273664e38c99d077cc52ab48914', 'width': 640}, {'height': 300, 'url': 'https://i.scdn.co/image/ab67616d00001e02664e38c99d077cc52ab48914', 'width': 300}, {'height': 64, 'url': 'https://i.scdn.co/image/ab67616d00004851664e38c99d077cc52ab48914', 'width': 64}], 'name': "how i'm feeling now", 'release_date': '2020-05-15', 'release_date_precision': 'day', 'total_tracks': 11, 'type': 'album', 'uri': 'spotify:album:3a9qH2VEsSiOZvMrjaS0Nu'}, {'album_type': 'single', 'artists': [{'external_urls': {'spotify': 'https://open.spotify.com/artist/2jku7tDXc6XoB6MO2hFuqg'}, 'href': 'https://api.spotify.com/v1/artists/2jku7tDXc6XoB6MO2hFuqg', 'id': '2jku7tDXc6XoB6MO2hFuqg', 'name': 'Tory Lanez', 'type': 'artist', 'uri': 'spotify:artist:2jku7tDXc6XoB6MO2hFuqg'}], 'available_markets': ['AD', 'AE', 'AR', 'AT', 'AU', 'BE', 'BG', 'BH', 'BO', 'BR', 'CH', 'CL', 'CO', 'CR', 'CY', 'CZ', 'DE', 'DK', 'DO', 'DZ', 'EC', 'EE', 'EG', 'ES', 'FI', 'FR', 'GB', 'GR', 'GT', 'HK', 'HN', 'HU', 'ID', 'IE', 'IL', 'IN', 'IS', 'IT', 'JO', 'JP', 'KW', 'LB', 'LI', 'LT', 'LU', 'LV', 'MA', 'MC', 'MT', 'MX', 'MY', 'NI', 'NL', 'NO', 'NZ', 'OM', 'PA', 'PE', 'PH', 'PL', 'PS', 'PT', 'PY', 'QA', 'RO', 'SA', 'SE', 'SG', 'SK', 'SV', 'TH', 'TN', 'TR', 'TW', 'US', 'UY', 'VN', 'ZA'], 'external_urls': {'spotify': 'https://open.spotify.com/album/3lalGt6k7JM3tIji1Xbgmk'}, 'href': 'https://api.spotify.com/v1/albums/3lalGt6k7JM3tIji1Xbgmk', 'id': '3lalGt6k7JM3tIji1Xbgmk', 'images': [{'height': 640, 'url': 'https://i.scdn.co/image/ab67616d0000b273c2ebaf0c84eb77f358d958bc', 'width': 640}, {'height': 300, 'url': 'https://i.scdn.co/image/ab67616d00001e02c2ebaf0c84eb77f358d958bc', 'width': 300}, {'height': 64, 'url': 'https://i.scdn.co/image/ab67616d00004851c2ebaf0c84eb77f358d958bc', 'width': 64}], 'name': 'Temperature Rising', 'release_date': '2020-05-15', 'release_date_precision': 'day', 'total_tracks': 1, 'type': 'album', 'uri': 'spotify:album:3lalGt6k7JM3tIji1Xbgmk'}, {'album_type': 'album', 'artists': [{'external_urls': {'spotify': 'https://open.spotify.com/artist/2ueoLVCXQ948OfhVvAy3Nn'}, 'href': 'https://api.spotify.com/v1/artists/2ueoLVCXQ948OfhVvAy3Nn', 'id': '2ueoLVCXQ948OfhVvAy3Nn', 'name': 'Perfume Genius', 'type': 'artist', 'uri': 'spotify:artist:2ueoLVCXQ948OfhVvAy3Nn'}], 'available_markets': ['AD', 'AE', 'AR', 'AT', 'AU', 'BE', 'BG', 'BH', 'BO', 'BR', 'CA', 'CH', 'CL', 'CO', 'CR', 'CY', 'CZ', 'DE', 'DK', 'DO', 'DZ', 'EC', 'EE', 'EG', 'ES', 'FI', 'FR', 'GB', 'GR', 'GT', 'HK', 'HN', 'HU', 'ID', 'IE', 'IL', 'IN', 'IS', 'IT', 'JO', 'JP', 'KW', 'LB', 'LI', 'LT', 'LU', 'LV', 'MA', 'MC', 'MT', 'MX', 'MY', 'NI', 'NL', 'NO', 'NZ', 'OM', 'PA', 'PE', 'PH', 'PL', 'PS', 'PT', 'PY', 'QA', 'RO', 'SA', 'SE', 'SG', 'SK', 'SV', 'TH', 'TN', 'TR', 'TW', 'US', 'UY', 'VN', 'ZA'], 'external_urls': {'spotify': 'https://open.spotify.com/album/6daEdTBi1hyFQgmsnR7oRr'}, 'href': 'https://api.spotify.com/v1/albums/6daEdTBi1hyFQgmsnR7oRr', 'id': '6daEdTBi1hyFQgmsnR7oRr', 'images': [{'height': 640, 'url': 'https://i.scdn.co/image/ab67616d0000b2739af34850f5125ef195d6101a', 'width': 640}, {'height': 300, 'url': 'https://i.scdn.co/image/ab67616d00001e029af34850f5125ef195d6101a', 'width': 300}, {'height': 64, 'url': 'https://i.scdn.co/image/ab67616d000048519af34850f5125ef195d6101a', 'width': 64}], 'name': 'Set My Heart On Fire Immediately', 'release_date': '2020-05-15', 'release_date_precision': 'day', 'total_tracks': 13, 'type': 'album', 'uri': 'spotify:album:6daEdTBi1hyFQgmsnR7oRr'}, {'album_type': 'album', 'artists': [{'external_urls': {'spotify': 'https://open.spotify.com/artist/7rkW85dBwwrJtlHRDkJDAC'}, 'href': 'https://api.spotify.com/v1/artists/7rkW85dBwwrJtlHRDkJDAC', 'id': '7rkW85dBwwrJtlHRDkJDAC', 'name': 'NAV', 'type': 'artist', 'uri': 'spotify:artist:7rkW85dBwwrJtlHRDkJDAC'}], 'available_markets': ['AD', 'AE', 'AR', 'AT', 'AU', 'BE', 'BG', 'BH', 'BO', 'BR', 'CA', 'CH', 'CL', 'CO', 'CR', 'CY', 'CZ', 'DE', 'DK', 'DO', 'DZ', 'EC', 'EE', 'EG', 'ES', 'FI', 'FR', 'GB', 'GR', 'GT', 'HK', 'HN', 'HU', 'ID', 'IE', 'IL', 'IN', 'IS', 'IT', 'JO', 'JP', 'KW', 'LB', 'LI', 'LT', 'LU', 'LV', 'MA', 'MC', 'MT', 'MX', 'MY', 'NI', 'NL', 'NO', 'NZ', 'OM', 'PA', 'PE', 'PH', 'PL', 'PS', 'PT', 'PY', 'QA', 'RO', 'SA', 'SE', 'SG', 'SK', 'SV', 'TH', 'TN', 'TR', 'TW', 'US', 'UY', 'VN', 'ZA'], 'external_urls': {'spotify': 'https://open.spotify.com/album/2kx4l1OQNT2JXLld9HJDIh'}, 'href': 'https://api.spotify.com/v1/albums/2kx4l1OQNT2JXLld9HJDIh', 'id': '2kx4l1OQNT2JXLld9HJDIh', 'images': [{'height': 640, 'url': 'https://i.scdn.co/image/ab67616d0000b273b9c89bb14d58ea3150bd435d', 'width': 640}, {'height': 300, 'url': 'https://i.scdn.co/image/ab67616d00001e02b9c89bb14d58ea3150bd435d', 'width': 300}, {'height': 64, 'url': 'https://i.scdn.co/image/ab67616d00004851b9c89bb14d58ea3150bd435d', 'width': 64}], 'name': 'Good Intentions (Brown Boy 2 Deluxe Version)', 'release_date': '2020-05-11', 'release_date_precision': 'day', 'total_tracks': 32, 'type': 'album', 'uri': 'spotify:album:2kx4l1OQNT2JXLld9HJDIh'}, {'album_type': 'single', 'artists': [{'external_urls': {'spotify': 'https://open.spotify.com/artist/6oMuImdp5ZcFhWP0ESe6mG'}, 'href': 'https://api.spotify.com/v1/artists/6oMuImdp5ZcFhWP0ESe6mG', 'id': '6oMuImdp5ZcFhWP0ESe6mG', 'name': 'Migos', 'type': 'artist', 'uri': 'spotify:artist:6oMuImdp5ZcFhWP0ESe6mG'}], 'available_markets': ['AD', 'AE', 'AR', 'AT', 'AU', 'BE', 'BG', 'BH', 'BO', 'BR', 'CA', 'CH', 'CL', 'CO', 'CR', 'CY', 'CZ', 'DE', 'DK', 'DO', 'DZ', 'EC', 'EE', 'EG', 'ES', 'FI', 'FR', 'GB', 'GR', 'GT', 'HK', 'HN', 'HU', 'ID', 'IE', 'IL', 'IN', 'IS', 'IT', 'JO', 'JP', 'KW', 'LB', 'LI', 'LT', 'LU', 'LV', 'MA', 'MC', 'MT', 'MX', 'MY', 'NI', 'NL', 'NO', 'NZ', 'OM', 'PA', 'PE', 'PH', 'PL', 'PS', 'PT', 'PY', 'QA', 'RO', 'SA', 'SE', 'SG', 'SK', 'SV', 'TH', 'TN', 'TR', 'TW', 'US', 'UY', 'VN', 'ZA'], 'external_urls': {'spotify': 'https://open.spotify.com/album/3PASWLvNfvfMF68dDznEgK'}, 'href': 'https://api.spotify.com/v1/albums/3PASWLvNfvfMF68dDznEgK', 'id': '3PASWLvNfvfMF68dDznEgK', 'images': [{'height': 640, 'url': 'https://i.scdn.co/image/ab67616d0000b2739325c863d9139cc2d507421b', 'width': 640}, {'height': 300, 'url': 'https://i.scdn.co/image/ab67616d00001e029325c863d9139cc2d507421b', 'width': 300}, {'height': 64, 'url': 'https://i.scdn.co/image/ab67616d000048519325c863d9139cc2d507421b', 'width': 64}], 'name': 'Racks 2 Skinny', 'release_date': '2020-05-11', 'release_date_precision': 'day', 'total_tracks': 1, 'type': 'album', 'uri': 'spotify:album:3PASWLvNfvfMF68dDznEgK'}, {'album_type': 'single', 'artists': [{'external_urls': {'spotify': 'https://open.spotify.com/artist/5Zq7R5qmi58ByYyBQTlNuk'}, 'href': 'https://api.spotify.com/v1/artists/5Zq7R5qmi58ByYyBQTlNuk', 'id': '5Zq7R5qmi58ByYyBQTlNuk', 'name': 'Lee Brice', 'type': 'artist', 'uri': 'spotify:artist:5Zq7R5qmi58ByYyBQTlNuk'}], 'available_markets': ['AD', 'AE', 'AR', 'AT', 'AU', 'BE', 'BG', 'BH', 'BO', 'BR', 'CA', 'CH', 'CL', 'CO', 'CR', 'CY', 'CZ', 'DE', 'DK', 'DO', 'DZ', 'EC', 'EE', 'EG', 'ES', 'FI', 'FR', 'GB', 'GR', 'GT', 'HK', 'HN', 'HU', 'ID', 'IE', 'IL', 'IN', 'IS', 'IT', 'JO', 'JP', 'KW', 'LB', 'LI', 'LT', 'LU', 'LV', 'MA', 'MC', 'MT', 'MX', 'MY', 'NI', 'NL', 'NO', 'NZ', 'OM', 'PA', 'PE', 'PH', 'PL', 'PS', 'PT', 'PY', 'QA', 'RO', 'SA', 'SE', 'SG', 'SK', 'SV', 'TH', 'TN', 'TR', 'TW', 'US', 'UY', 'VN', 'ZA'], 'external_urls': {'spotify': 'https://open.spotify.com/album/5LK5cCx0XdniivfZ91vOSv'}, 'href': 'https://api.spotify.com/v1/albums/5LK5cCx0XdniivfZ91vOSv', 'id': '5LK5cCx0XdniivfZ91vOSv', 'images': [{'height': 640, 'url': 'https://i.scdn.co/image/ab67616d0000b27306ae99421702f8a9d881e268', 'width': 640}, {'height': 300, 'url': 'https://i.scdn.co/image/ab67616d00001e0206ae99421702f8a9d881e268', 'width': 300}, {'height': 64, 'url': 'https://i.scdn.co/image/ab67616d0000485106ae99421702f8a9d881e268', 'width': 64}], 'name': 'One Of Them Girls', 'release_date': '2020-05-15', 'release_date_precision': 'day', 'total_tracks': 2, 'type': 'album', 'uri': 'spotify:album:5LK5cCx0XdniivfZ91vOSv'}, {'album_type': 'album', 'artists': [{'external_urls': {'spotify': 'https://open.spotify.com/artist/2o5jDhtHVPhrJdv3cEQ99Z'}, 'href': 'https://api.spotify.com/v1/artists/2o5jDhtHVPhrJdv3cEQ99Z', 'id': '2o5jDhtHVPhrJdv3cEQ99Z', 'name': 'Tisto', 'type': 'artist', 'uri': 'spotify:artist:2o5jDhtHVPhrJdv3cEQ99Z'}], 'available_markets': ['AD', 'AE', 'AR', 'AT', 'AU', 'BE', 'BG', 'BH', 'BO', 'BR', 'CA', 'CH', 'CL', 'CO', 'CR', 'CY', 'CZ', 'DE', 'DK', 'DO', 'DZ', 'EC', 'EE', 'EG', 'ES', 'FI', 'FR', 'GB', 'GR', 'GT', 'HK', 'HN', 'HU', 'ID', 'IE', 'IL', 'IN', 'IS', 'IT', 'JO', 'JP', 'KW', 'LB', 'LI', 'LT', 'LU', 'LV', 'MA', 'MC', 'MT', 'MX', 'MY', 'NI', 'NL', 'NO', 'NZ', 'OM', 'PA', 'PE', 'PH', 'PL', 'PS', 'PT', 'PY', 'QA', 'RO', 'SA', 'SE', 'SG', 'SK', 'SV', 'TH', 'TN', 'TR', 'TW', 'US', 'UY', 'VN', 'ZA'], 'external_urls': {'spotify': 'https://open.spotify.com/album/6CIslPQSknp875cigkhKJC'}, 'href': 'https://api.spotify.com/v1/albums/6CIslPQSknp875cigkhKJC', 'id': '6CIslPQSknp875cigkhKJC', 'images': [{'height': 640, 'url': 'https://i.scdn.co/image/ab67616d0000b2739759d6dfa2c19091814fccb3', 'width': 640}, {'height': 300, 'url': 'https://i.scdn.co/image/ab67616d00001e029759d6dfa2c19091814fccb3', 'width': 300}, {'height': 64, 'url': 'https://i.scdn.co/image/ab67616d000048519759d6dfa2c19091814fccb3',

It looks messy as the json loads data into a dictionary of dictionaries; having a similar structure.  

![link text](https://pynative.com/wp-content/uploads/2020/01/developer_json_file.jpg)

In [ ]:
type(data)

dict

To read this json data, one has to study the keys of all these dictionaries.

**Level 1:**

In [ ]:
data.keys()

dict_keys(['albums'])

In [ ]:
type(data['albums'])

dict

**Level 2:**

In [ ]:
data['albums'].keys()

dict_keys(['href', 'items', 'limit', 'next', 'offset', 'previous', 'total'])

In [ ]:
for key, value in data['albums'].items():
    print(key, type(value))

href <class 'str'>
items <class 'list'>
limit <class 'int'>
next <class 'str'>
offset <class 'int'>
previous <class 'NoneType'>
total <class 'int'>

Checking the other levels, we see different data structures.

In [ ]:
type(data['albums']['items'])

list

In [ ]:
data['albums']['items'][0]

{'album_type': 'album',
 'artists': [{'external_urls': {'spotify': 'https://open.spotify.com/artist/1RyvyyTE3xzB2ZywiAwp0i'},
   'href': 'https://api.spotify.com/v1/artists/1RyvyyTE3xzB2ZywiAwp0i',
   'id': '1RyvyyTE3xzB2ZywiAwp0i',
   'name': 'Future',
   'type': 'artist',
   'uri': 'spotify:artist:1RyvyyTE3xzB2ZywiAwp0i'}],
 'available_markets': ['AD',
  'AE',
  'AR',
  'AT',
  'AU',
  'BE',
  'BG',
  'BH',
  'BO',
  'BR',
  'CA',
  'CH',
  'CL',
  'CO',
  'CR',
  'CY',
  'CZ',
  'DE',
  'DK',
  'DO',
  'DZ',
  'EC',
  'EE',
  'EG',
  'ES',
  'FI',
  'FR',
  'GB',
  'GR',
  'GT',
  'HK',
  'HN',
  'HU',
  'ID',
  'IE',
  'IL',
  'IN',
  'IS',
  'IT',
  'JO',
  'JP',
  'KW',
  'LB',
  'LI',
  'LT',
  'LU',
  'LV',
  'MA',
  'MC',
  'MT',
  'MX',
  'MY',
  'NI',
  'NL',
  'NO',
  'NZ',
  'OM',
  'PA',
  'PE',
  'PH',
  'PL',
  'PS',
  'PT',
  'PY',
  'QA',
  'RO',
  'SA',
  'SE',
  'SG',
  'SK',
  'SV',
  'TH',
  'TN',
  'TR',
  'TW',
  'US',
  'UY',
  'VN',
  'ZA'],
 'external_urls': {'spotify': 'https://open.spotify.com/album/4bNPOFOzxGhF5jhfIK6lit'},
 'href': 'https://api.spotify.com/v1/albums/4bNPOFOzxGhF5jhfIK6lit',
 'id': '4bNPOFOzxGhF5jhfIK6lit',
 'images': [{'height': 640,
   'url': 'https://i.scdn.co/image/ab67616d0000b273935d8d5369bc55e74a39303e',
   'width': 640},
  {'height': 300,
   'url': 'https://i.scdn.co/image/ab67616d00001e02935d8d5369bc55e74a39303e',
   'width': 300},
  {'height': 64,
   'url': 'https://i.scdn.co/image/ab67616d00004851935d8d5369bc55e74a39303e',
   'width': 64}],
 'name': 'High Off Life',
 'release_date': '2020-05-15',
 'release_date_precision': 'day',
 'total_tracks': 21,
 'type': 'album',
 'uri': 'spotify:album:4bNPOFOzxGhF5jhfIK6lit'}

**We access values in a json dictionary as we would for nested lists or dictionaries in Python.**

In [ ]:
data['albums']['items'][0].keys() # Nesting keys.

dict_keys(['album_type', 'artists', 'available_markets', 'external_urls', 'href', 'id', 'images', 'name', 'release_date', 'release_date_precision', 'total_tracks', 'type', 'uri'])

In [ ]:
data['albums']['items'][0]['artists'][0]['name'] # Getting a value

'Future'

In [ ]:
data['albums']['items'][1]['artists'][0]['name'] # Getting another value

'Kygo'

![#f03c15](https://placehold.co/15x15/f03c15/f03c15.png) From the above example, can you list all the artists in this json dictionary?

In [ ]:
# Solution
num = len(data['albums']['items'][0])

artists = [data['albums']['items'][i]['artists'][0]['name'] for i in range(num)]
artists

['Future',
 'Kygo',
 'Various Artists',
 'Katy Perry',
 'Polo G',
 'Jonas Brothers',
 'Charli XCX',
 'Tory Lanez',
 'Perfume Genius',
 'NAV',
 'Migos',
 'Lee Brice',
 'Tisto']

**Challenge:**

What other questions can be answered with this dataset?

## Flattening data

This is essentially breaking the dictionary of dictionary nature

In [ ]:
import pandas as pd

In [ ]:
# For easier view
df = pd.DataFrame(data['albums'])
df.head(1)

,href,items,limit,next,offset,previous,total
0,https://api.spotify.com/v1/browse/new-releases...,"{'album_type': 'album', 'artists': [{'external...",20,https://api.spotify.com/v1/browse/new-releases...,0,None,100

In [ ]:
df2 = pd.DataFrame(data['albums']['items'])
print(df2.shape)
df2.head(1)

(20, 13)

,album_type,artists,available_markets,external_urls,href,id,images,name,release_date,release_date_precision,total_tracks,type,uri
0,album,[{'external_urls': {'spotify': 'https://open.s...,"[AD, AE, AR, AT, AU, BE, BG, BH, BO, BR, CA, C...",{'spotify': 'https://open.spotify.com/album/4b...,https://api.spotify.com/v1/albums/4bNPOFOzxGhF...,4bNPOFOzxGhF5jhfIK6lit,"[{'height': 640, 'url': 'https://i.scdn.co/ima...",High Off Life,2020-05-15,day,21,album,spotify:album:4bNPOFOzxGhF5jhfIK6lit

In [ ]:
print(data['albums']['items'][0]['artists'])

[{'external_urls': {'spotify': 'https://open.spotify.com/artist/1RyvyyTE3xzB2ZywiAwp0i'}, 'href': 'https://api.spotify.com/v1/artists/1RyvyyTE3xzB2ZywiAwp0i', 'id': '1RyvyyTE3xzB2ZywiAwp0i', 'name': 'Future', 'type': 'artist', 'uri': 'spotify:artist:1RyvyyTE3xzB2ZywiAwp0i'}]

In [ ]:
def extract_info(dictionary):
  info = {}
  info['Album_name'] = dictionary['name']
  info['release_date'] = dictionary['release_date']
  #print(dictionary)
  info['Artist_name'] = dictionary['artists'][0]['name']
  info['Link'] = dictionary['artists'][0]['external_urls']['spotify']

  return info

In [ ]:
data = [extract_info(i) for i in data['albums']['items']]
print(data)

[{'Album_name': 'High Off Life', 'release_date': '2020-05-15', 'Artist_name': 'Future', 'Link': 'https://open.spotify.com/artist/1RyvyyTE3xzB2ZywiAwp0i'}, {'Album_name': 'Lose Somebody', 'release_date': '2020-05-15', 'Artist_name': 'Kygo', 'Link': 'https://open.spotify.com/artist/23fqKkggKUBHNkbKtXEls4'}, {'Album_name': 'SCOOB! The Album', 'release_date': '2020-05-15', 'Artist_name': 'Various Artists', 'Link': 'https://open.spotify.com/artist/0LyfQWJT6nXafLPZqxe9Of'}, {'Album_name': 'Daisies', 'release_date': '2020-05-15', 'Artist_name': 'Katy Perry', 'Link': 'https://open.spotify.com/artist/6jJ0s89eD6GaHleKKya26X'}, {'Album_name': 'THE GOAT', 'release_date': '2020-05-15', 'Artist_name': 'Polo G', 'Link': 'https://open.spotify.com/artist/6AgTAQt8XS6jRWi4sX7w49'}, {'Album_name': 'XV', 'release_date': '2020-05-15', 'Artist_name': 'Jonas Brothers', 'Link': 'https://open.spotify.com/artist/7gOdHgIoIKoe4i9Tta6qdD'}, {'Album_name': "how i'm feeling now", 'release_date': '2020-05-15', 'Artist_name': 'Charli XCX', 'Link': 'https://open.spotify.com/artist/25uiPmTg16RbhZWAqwLBy5'}, {'Album_name': 'Temperature Rising', 'release_date': '2020-05-15', 'Artist_name': 'Tory Lanez', 'Link': 'https://open.spotify.com/artist/2jku7tDXc6XoB6MO2hFuqg'}, {'Album_name': 'Set My Heart On Fire Immediately', 'release_date': '2020-05-15', 'Artist_name': 'Perfume Genius', 'Link': 'https://open.spotify.com/artist/2ueoLVCXQ948OfhVvAy3Nn'}, {'Album_name': 'Good Intentions (Brown Boy 2 Deluxe Version)', 'release_date': '2020-05-11', 'Artist_name': 'NAV', 'Link': 'https://open.spotify.com/artist/7rkW85dBwwrJtlHRDkJDAC'}, {'Album_name': 'Racks 2 Skinny', 'release_date': '2020-05-11', 'Artist_name': 'Migos', 'Link': 'https://open.spotify.com/artist/6oMuImdp5ZcFhWP0ESe6mG'}, {'Album_name': 'One Of Them Girls', 'release_date': '2020-05-15', 'Artist_name': 'Lee Brice', 'Link': 'https://open.spotify.com/artist/5Zq7R5qmi58ByYyBQTlNuk'}, {'Album_name': 'The London Sessions', 'release_date': '2020-05-15', 'Artist_name': 'Tisto', 'Link': 'https://open.spotify.com/artist/2o5jDhtHVPhrJdv3cEQ99Z'}, {'Album_name': 'The Album, Pt. II', 'release_date': '2020-05-15', 'Artist_name': 'Chase Rice', 'Link': 'https://open.spotify.com/artist/6pBNfggcZZDCmb0p92OnGn'}, {'Album_name': 'Like A House On Fire', 'release_date': '2020-05-15', 'Artist_name': 'Asking Alexandria', 'Link': 'https://open.spotify.com/artist/1caBfBEapzw8z2Qz9q0OaQ'}, {'Album_name': 'Riot', 'release_date': '2020-05-13', 'Artist_name': 'Lil Skies', 'Link': 'https://open.spotify.com/artist/7d3WFRME3vBY2cgoP38RDo'}, {'Album_name': 'THE END OF EVERYTHING', 'release_date': '2020-05-15', 'Artist_name': 'Noah Cyrus', 'Link': 'https://open.spotify.com/artist/55fhWPvDiMpLnE4ZzNXZyW'}, {'Album_name': 'Will (Remix)', 'release_date': '2020-05-15', 'Artist_name': 'Joyner Lucas', 'Link': 'https://open.spotify.com/artist/6C1ohJrd5VydigQtaGy5Wa'}, {'Album_name': 'Excitement', 'release_date': '2020-05-15', 'Artist_name': 'Trippie Redd', 'Link': 'https://open.spotify.com/artist/6Xgp2XMz1fhVYe7i6yNAax'}, {'Album_name': 'Zen (with K.Flay & grandson)', 'release_date': '2020-05-15', 'Artist_name': 'X Ambassadors', 'Link': 'https://open.spotify.com/artist/3NPpFNZtSTHheNBaWC82rB'}]

In [ ]:
final = pd.DataFrame(data, columns=['Album_name', 'release_date', 'Artist_name','Link'])
final

,Album_name,release_date,Artist_name,Link
0,High Off Life,2020-05-15,Future,https://open.spotify.com/artist/1RyvyyTE3xzB2Z...
1,Lose Somebody,2020-05-15,Kygo,https://open.spotify.com/artist/23fqKkggKUBHNk...
2,SCOOB! The Album,2020-05-15,Various Artists,https://open.spotify.com/artist/0LyfQWJT6nXafL...
3,Daisies,2020-05-15,Katy Perry,https://open.spotify.com/artist/6jJ0s89eD6GaHl...
4,THE GOAT,2020-05-15,Polo G,https://open.spotify.com/artist/6AgTAQt8XS6jRW...
5,XV,2020-05-15,Jonas Brothers,https://open.spotify.com/artist/7gOdHgIoIKoe4i...
6,how i'm feeling now,2020-05-15,Charli XCX,https://open.spotify.com/artist/25uiPmTg16RbhZ...
7,Temperature Rising,2020-05-15,Tory Lanez,https://open.spotify.com/artist/2jku7tDXc6XoB6...
8,Set My Heart On Fire Immediately,2020-05-15,Perfume Genius,https://open.spotify.com/artist/2ueoLVCXQ948Of...
9,Good Intentions (Brown Boy 2 Deluxe Version),2020-05-11,NAV,https://open.spotify.com/artist/7rkW85dBwwrJtl...
10,Racks 2 Skinny,2020-05-11,Migos,https://open.spotify.com/artist/6oMuImdp5ZcFhW...
11,One Of Them Girls,2020-05-15,Lee Brice,https://open.spotify.com/artist/5Zq7R5qmi58ByY...
12,The London Sessions,2020-05-15,Tisto,https://open.spotify.com/artist/2o5jDhtHVPhrJd...
13,"The Album, Pt. II",2020-05-15,Chase Rice,https://open.spotify.com/artist/6pBNfggcZZDCmb...
14,Like A House On Fire,2020-05-15,Asking Alexandria,https://open.spotify.com/artist/1caBfBEapzw8z2...
15,Riot,2020-05-13,Lil Skies,https://open.spotify.com/artist/7d3WFRME3vBY2c...
16,THE END OF EVERYTHING,2020-05-15,Noah Cyrus,https://open.spotify.com/artist/55fhWPvDiMpLnE...
17,Will (Remix),2020-05-15,Joyner Lucas,https://open.spotify.com/artist/6C1ohJrd5Vydig...
18,Excitement,2020-05-15,Trippie Redd,https://open.spotify.com/artist/6Xgp2XMz1fhVYe...
19,Zen (with K.Flay & grandson),2020-05-15,X Ambassadors,https://open.spotify.com/artist/3NPpFNZtSTHheN...